@tailwind base;
@tailwind components;
@tailwind utilities;


/*новости*/
.gradient-animation {
    xwidth: 100%;
    xheight: 100vh;
    background: linear-gradient(-45deg, #e0bfb5, #fa9cc0, #9ed5e8, #9fead8);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.footer1,
.footer2 ,
.footer3 {
    background-color: #f0f0f0; /* Серый фон */
    border-top: 10px solid #eee; /* Верхняя граница */
    transition: border-top 0.5s ease-in-out; /* Плавная анимация границы */
}

.footer3{     padding: 20px; }

.footer1:hover {
    border-top: 10px solid #fff; /* Изменение цвета границы при наведении */
}
.footer2:hover {
    border-top: 10px solid #0a53be; /* Изменение цвета границы при наведении */
}
.footer3:hover {
    border-top: 10px solid #f00; /* Изменение цвета границы при наведении */
}
